@model WEBPEROJEM.Models.Personel.PersonelBilgileri

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Proje Takip Sistemi</title>

    <meta name="description" content="" />-->

    <!-- Favicon -->
    <!--<link rel="icon" type="image/x-icon" href="../GTTEMA/assets/img/favicon/favicon.ico" />-->

    <!-- Fonts -->
    <!--<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="../GTTEMA/assets/vendor/fonts/boxicons.css" />-->

    <!-- Core CSS -->
    <!--<link rel="stylesheet" href="../GTTEMA/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../GTTEMA/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../GTTEMA/assets/css/demo.css" />-->

    <!-- Vendors CSS -->
    <!--<link rel="stylesheet" href="../GTTEMA/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../GTTEMA/assets/vendor/libs/apex-charts/apex-charts.css" />-->

    <!-- Page CSS -->
    <!-- Helpers -->
    <!--<script src="../GTTEMA/assets/vendor/js/helpers.js"></script>-->
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <!--<script src="../GTTEMA/assets/js/config.js"></script>
</head>-->

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-6">
                <h5 class="card-header">Profi Detayları</h5>

                <div class="card-body pt-4">
                    <form id="formAccountSettings" method="POST" onsubmit="return false">
                        <div class="row g-6">
                            <div class="col-md-6">
                                <label for="firstName" class="form-label">AD SOYAD:</label>
                                @Html.DisplayFor(model => model.AdSoyad)
                            </div>
                            <div class="col-md-6">
                                <label for="lastName" class="form-label">DEPARTMAN:</label>
                                @Html.DisplayFor(model => model.Departman)
                            </div>
                            <div class="col-md-6">
                                <label for="lastName" class="form-label">GÖREV:</label>
                                @Html.DisplayFor(model => model.Gorev)
                            </div>
                            <div class="col-md-6">
                                <label for="lastName" class="form-label">E-POSTA:</label>
                                @Html.DisplayFor(model => model.Eposta)
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">TELEFON:</label>
                                    @Html.DisplayFor(model => model.TelNo)
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">YETKİ:</label>
                                    @Html.DisplayFor(model => model.Yetki)
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">TC NO:</label>
                                    @Html.DisplayFor(model => model.TCNO)
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">DOĞUM  TARİHİ:</label>
                                    @Html.DisplayFor(model => model.DogumTarihi)
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">ADRES:</label>
                                    @Html.DisplayFor(model => model.Adres)
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">İŞE GİRİŞ TARİHİ:</label>
                                    @Html.DisplayFor(model => model.IseGirisTarihi)
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">MEDENİ HAL:</label>
                                    @Html.DisplayFor(model => model.MedeniHal)
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">GÖREV AÇIKLAMASI:</label>
                                    @Html.DisplayFor(model => model.PozisyonAciklama)
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">GÖREV AÇIKLAMASI:</label>
                                    @Html.DisplayFor(model => model.PozisyonAciklama)
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">YAKIN BİLGİSİ:</label>
                                    @Html.DisplayFor(model => model.YakinBilgisi)
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">YAKIN AD SOYAD:</label>
                                    @Html.DisplayFor(model => model.YakinAdSoyad)
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">YAKIN TC:</label>
                                    @Html.DisplayFor(model => model.YakinTC)
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">YAKIN TEL:</label>
                                    @Html.DisplayFor(model => model.YakinTel)
                                </div>
                            </div>
                        </div>
                        <div class="mt-6">
                            <a href="/PersonelBilgileris/Index/" type="submit" class="btn btn-primary me-3">Ana Sayfaya Dön</a>
                        </div>
                    </form>
                </div>
                <!-- /Account -->
            </div>
        </div>
    </div>
</div>
